@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins font */
.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* poppins font */

body {
    @apply hind-siliguri-regular text-[14px]
}

main {
    @apply w-full max-w-6xl mx-auto px-5
}

.btn-brand {
  @apply bg-brandColor px-5 py-3 text-white
}